body{
    margin: 0px;
    background: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    gap: 30px;
}
.navbar a:hover{
    background-color: rgb(78, 78, 78);
}
.navbar li{
    float: left;
    flex-wrap: wrap;
}
h2{
    justify-self:center;
    padding: 10px;
    font-size: 50px;
    background: linear-gradient(450deg,gray, white);
    border-radius: 15px;
    background-clip: text;
    color: transparent;
    animation-name: contact;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes contact {
    0% {color: gray;}
    50% {color: white;}
    100% {color: gray;}

}
.parent{
    width: 100%;
    height: 400px;
    align-items: center;
    display: flex;
    animation-name: back;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: ease;
}
.parent div{
    margin: 20px;
    width: 200px;
    border-radius: 15px;
    border: 2px solid;
    flex-direction: column;
    align-items: center;
     text-align: center;
}
.insta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 300px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background: linear-gradient(45deg,#f58a1f, #c32aa3, #833ab4, #515bd4, #405de6 );
  
}
.github{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 300px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background: linear-gradient(450deg,#0d1117, #30363d);
  
}