body{
    margin: 0px;
    background: #222;
    color: white;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    gap: 30px;
}
.navbar a:hover{
    background-color: rgb(78, 78, 78);
}
.navbar li{
    float: left;
    flex-wrap: wrap;
}
h2{
    justify-self:center;
    padding: 10px;
    font-size: 50px;
    background: linear-gradient(450deg,gray, white);
    border-radius: 15px;
    background-clip: text;
    color: transparent;
    animation-name: more;
    animation: more 3s infinite ease;
}
@keyframes more {
    0% {color: gray;}
    50% {color: white;}
    100% {color: gray;}

}
.h9{
    justify-self:center;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(450deg,gray, white);
    border-radius: 15px;
    background-clip: text;
    color: transparent;
    animation-name: edit;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes edit {
    0% {color: gray;}
    50% {color: white;}
    100% {color: gray;}
}
