body{
    margin: 0px;
    background: #222;
    color: white;

}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    gap: 30px;
}
.navbar a:hover{
    background-color: rgb(78, 78, 78);
}
.navbar li{
    float: left;
    flex-wrap: wrap;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}